.about{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header{
        font-size: 40px;
        font-weight: bolder;
    }
    &__description {
        margin-top: 0px;
        padding-left: 10px;
        margin-right: 10px;
        text-align: center;
        line-height: 1.5;
    }
}