.home {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        margin-top: 35px;
        margin-bottom: 25px;
        font-size: 40px;
        font-weight: bolder;
    }
    &__avatar {
        width: 100px;
        border: 3px solid rgb(2, 56, 70);
        border-radius: 50%;
    }
    &__description {
        font-size: 20px;
        font-weight: bolder;
        padding-left: 10px;
        margin-top: 20px;
        text-align: center;
    }
    &__download {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 22px;
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
    }
}