.home {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        font-size: 40px;
        font-weight: bolder;
    }
    &__avatar {
        width: 100px;
        border: 3px solid rgb(206, 189, 189);
        border-radius: 50%;
    }
    &__description {
        font-size: 20px;
        font-weight: bolder;
        padding-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
    &__contact {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__link {
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        background-color: rgb(30, 28, 40);
    }
}