<section class="about" id="about">
    <h1 class="about__header">About me</h1>
    <p class="about__description">
        I have a wide range of skills and can work with both frontend and backend.
        React and MongoDB are a powerful combination for developing web apps. React allows you to create dynamic and interactive user interfaces,
        while MongoDB is a flexible NoSQL database that allows you to store and process data. I am confident in my ability to take ownership of tasks and
        find solutions to complex challenges, without sacrificing quality. I like to work with new technologies, always loved optimization and exact sciences,
        look broadly at the task and propose various improvements for the company as a whole.
    </p>
</section>