<section class="contact">
    <h1 class="contact__header">Contact me</h1>
    <div class="contact__container">
        <ul class="contact__list">
            <li class="contact__item">
                <a href="" class="contact__link">
                    Phone
                    <img src="./images/phone.svg" alt="phone">
            <li class="contact__item">
                <a href="" class="contact__link">
                    Mail
                    <img src="./images/mail.svg" alt="mail">
                </a>
            </li>
            <li class="contact__item">
                <a href="" class="contact__link">
                    Linkedln
                    <img src="./images/linkedln.svg" alt="linkedln">
                </a>
            </li>
            <li class="contact__item">
                <a href="" class="contact__link">
                    Github
                    <img src="./images/github.svg" alt="github">
                </a>
            </li>
            <li class="contact__item">
                <a href="" class="contact__link">
                    Telegram
                    <img src="./images/telegram.svg" alt="telegram">
                </a>
            </li>
        </ul>
        <img src="./images/contact.svg" width="300px" height="300px" alt="contact">
    </div>
</section>