<header class="header" id="header">
    <div class="header__container container">
        <nav>
            <ul class="header__list">
                <li class="header__item">
                    <a href="#home" class="header__link">
                        Home
                    </a>
                </li>
                <li class="header__item">
                    <a href="#about" class="header__link">
                        About
                    </a>
                </li>
                <li class="header__item">
                    <a href="#projects" class="header__link">
                        Projects
                    </a>
                </li>
                <li class="header__item">
                    <a href="#skills" class="header__link">
                        Skills
                    </a>
                </li>
                <li class="header__item">
                    <a href="#languages" class="header__link">
                        Languages
                    </a>
                </li>
                <li class="header__item">
                    <a href="#contact" class="header__link">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>