<section class="home">
    <h1 class="home__header">Nazarii Dzhaman</h1>
    <img src="./images/avatar.jpg" class="home__avatar" alt="avatar">
    <p class="home__description">Hello, I`m a full-stack developer <br> with 2+ years of practical experience.</p>
    <div class="home__contact">
        <a class="home__link" href="">Contact me here</a>
        <a class="home__link" href="">Download CV</a>
        <a class="home__link" href="">
            <img src="./images/github.svg" alt="github">
        </a>
        <a class="home__link" href="">
            <img src="./images/linkedln.svg" alt="linkedln">
        </a>
    </div>
</section>