<section class="home" id="home">
    <h1 class="home__header">Nazarii Dzhaman</h1>
    <img src="./images/avatar.jpg" class="home__avatar" alt="avatar">
    <p class="home__description">Hello, I`m a full-stack developer <br> with 2+ years of practical experience.</p>
    <a  class="home__download"
        href="https://drive.google.com/file/d/1RKytN_yNUjzkbFPJGeCmn3LbSM5hnmQq/view?usp=sharing"
        target="_blank"
        download>
        Download CV
        <img src="./images/download.svg" alt="download">
    </a>
</section>