<section class="languages" id="languages">
    <h1 class="languages__header">Languages</h1>
    <ul class="languages__list">
        <li class="languages__item">
            Ukrainian - native
            <span class="languages__star">
                <img src="./images/star.svg" alt="star">
                <img src="./images/star.svg" alt="star">
                <img src="./images/star.svg" alt="star">
                <img src="./images/star.svg" alt="star">
                <img src="./images/star.svg" alt="star">
            </span>
        </li>
        <li class="languages__item">
            English - intermediate
            <span class="languages__star">
                <img src="./images/star.svg" alt="star">
                <img src="./images/star.svg" alt="star">
                <img src="./images/star.svg" alt="star">
            </span>
        </li>
    </ul>
</section>