<section class="projects" id="projects">
    <h1 class="projects__header">My projects</h1>
    <div class="projects__layout">
        <h2 class="projects__name">
            <a href="https://github.com/HannaTverdokhleb/project-5-frontend" target="_blank">GooseTrack</a>
        </h2>
        <div class="projects__container">
            <div class="slider" id="slider1">
                <img class='slider-img active' src="./images/goose.jpg" />
                <img class='slider-img' src="./images/goose_signin.jpg" />
                <img class='slider-img' src="./images/goose_login.jpg" />
                <img class='slider-img' src="./images/goose_veiw.jpg" />
                <img class='slider-img' src="./images/goose_sidebar.jpg" />
        
                <div>
                    <img style='opacity: 1; height: 20px;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
                </div>
        
                <div>
                    <img style='opacity: 1; height: 20px;' class="next controlls slider-next" src="./images/right.png" alt="right">
                </div>
            </div>
            <div class="projects__tech_stack">
                Tech stack:
                <ul class="projects__stack">
                    <li class="projects__tech">
                        <img src="./images/html.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/css.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/js.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/react.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/redux.svg" alt="">
                    <li class="projects__tech">
                        <img src="./images/nodejs.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/mongodb.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/postman.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <p class="projects__descr">
            Our application is your faithful assistant in managing time and organizing events. We provide convenient authorization via electronic record or Google for security and convenient access. Adding, editing and deleting events is easy and fast. Get detailed statistics about tasks to track progress and improve productivity.
        </p>
    </div>
    <div class="projects__layout">
        <h2 class="projects__name">
            <a href="https://github.com/Dzhaman-Nazarii/phonebook" target="_blank">Phonebook</a>
        </h2>
        <div class="projects__container">
            <div class="slider" id="slider2">
                <img class='slider-img active' src="./images/phonebook.jpg" />
                <img class='slider-img' src="./images/contacts.jpg" />
                <img class='slider-img' src="./images/register.jpg" />
                <img class='slider-img' src="./images/login.jpg" />
                <img class='slider-img' src="./images/find.jpg" />
        
                <div>
                    <img style='opacity: 1; height: 20px; background-color: black; border-radius: 50%;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
                </div>
        
                <div>
                    <img style='opacity: 1; height: 20px; background-color: black; border-radius: 50%;' class="next controlls slider-next" src="./images/right.png" alt="right">
                </div>
            </div>
            <div class="projects__tech_stack">
                Tech stack:
                <ul class="projects__stack">
                    <li class="projects__tech">
                        <img src="./images/html.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/css.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/js.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/react.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/redux.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <p class="projects__descr">
            This is my application that allows user registration, authorization and updates, and works with a private collection of contacts.. It uses React components with Redux logic, connected using hooks from the react-redux library. Also has custom routing using the React Router library and manages state using the Redux Toolkit.
    </div>
    <div class="projects__layout">
        <h2 class="projects__name">
            <a href="https://github.com/Dzhaman-Nazarii/Marvel" target="_blank">Marvel</a>
        </h2>
        <div class="projects__container">
            <div class="slider" id="slider3">
                <img class='slider-img active' src="./images/characters.jpg" />
                <img class='slider-img' src="./images/comics.jpg" />
                <img class='slider-img' src="./images/book.jpg" />
             <div>
                <img style='opacity: 1; height: 20px; background-color: black; border-radius: 50%;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
            </div>
            <div>
                <img style='opacity: 1; height: 20px; background-color: black; border-radius: 50%;' class="next controlls slider-next" src="./images/right.png" alt="right">
            </div>
            </div>
            <div class="projects__tech_stack">
                Tech stack:
                <ul class="projects__stack">
                    <li class="projects__tech">
                        <img src="./images/html.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/css.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/js.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/react.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/redux.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <p class="projects__descr">
            The Marvel app provides access to a variety of information about comics, characters, comic series and events in the Marvel universe. With Marvel, you can get information about all the characters in the Marvel universe, their characteristics, biographies, images and more. Also find detailed information about comics, including their titles, descriptions, numbers, and cover images. And information about the series of comics is also provided.
        </p>
    </div>
    <div class="projects__layout">
        <h2 class="projects__name">
            <a href="https://github.com/symeonm/team-proj" target="_blank">Mimino</a>
        </h2>
        <div class="projects__container">
            <div class="slider" id="slider4">
                <img class='slider-img active' src="./images/mimino.jpg" />
                <img class='slider-img' src="./images/restaurant.jpg" />
                <img class='slider-img' src="./images/menu.jpg" />
                <img class='slider-img' src="./images/hotel.jpg" />
                <img class='slider-img' src="./images/price.jpg" />
                <img class='slider-img' src="./images/rent.jpg" />
                <img class='slider-img' src="./images/room.jpg" />
                <img class='slider-img' src="./images/map.jpg" />
             <div>
                <img style='opacity: 1; height: 20px; background-color: black; border-radius: 50%;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
            </div>
            <div>
                <img style='opacity: 1; height: 20px; background-color: black; border-radius: 50%;' class="next controlls slider-next" src="./images/right.png" alt="right">
            </div>
            </div>
            <div class="projects__tech_stack">
                Tech stack:
                <ul class="projects__stack">
                    <li class="projects__tech">
                        <img src="./images/html.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/css.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/js.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <p class="projects__descr">
            This is a multi-page website of a restaurant-hotel complex with an adaptive layout, created by our team after studying HTML, CSS, SASS technologies. The project is built using Parcel. Worked as scrum master and developer.
        </p>
    </div>
    <div class="projects__layout">
        <h2 class="projects__name">
            <a href="https://github.com/Dzhaman-Nazarii/WebStudio" target="_blank">Webstudio</a>
        </h2>
        <div class="projects__container">
            <div class="slider" id="slider5">
                <img class='slider-img active' src="./images/webstudio.jpg" />
                <img class='slider-img' src="./images/works.jpg" />
                <img class='slider-img' src="./images/team.jpg" />
                <img class='slider-img' src="./images/partners.jpg" />
             <div>
                <img style='opacity: 1; height: 20px; background-color: black; border-radius: 50%;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
            </div>
            <div>
                <img style='opacity: 1; height: 20px; background-color: black; border-radius: 50%;' class="next controlls slider-next" src="./images/right.png" alt="right">
            </div>
            </div>
            <div class="projects__tech_stack">
                Tech stack:
                <ul class="projects__stack">
                    <li class="projects__tech">
                        <img src="./images/html.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/css.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/js.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <p class="projects__descr">
            The website of the web studio has a responsive design and consists of two pages. It contains information about services, the team and project examples. The BEM methodology is used in combination with the SASS preprocessor for writing styles. The design of the site is adapted for viewing on various devices - mobile, tablet and computer. The site creation process began with development for mobile devices, then there was optimization for tablets, and finally for computers.
        </p>
    </div>
</section>