<section class="projects" id="projects">
    <h1 class="projects__header">My projects</h1>
    <div class="projects__layout">
        <h2 class="projects__name">
            <a href="https://github.com/HannaTverdokhleb/project-5-frontend" target="_blank">GooseTrack</a>
        </h2>
        <div class="projects__container">
            <div class="slider" id="slider1">
                <img class='slider-img active' src="./images/goose.jpg" />
                <img class='slider-img' src="./images/goose_signin.jpg" />
                <img class='slider-img' src="./images/goose_login.jpg" />
                <img class='slider-img' src="./images/goose_veiw.jpg" />
                <img class='slider-img' src="./images/goose_sidebar.jpg" />
        
                <div>
                    <img style='opacity: 1; height: 20px;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
                </div>
        
                <div>
                    <img style='opacity: 1; height: 20px;' class="next controlls slider-next" src="./images/right.png" alt="right">
                </div>
            </div>
            <div class="projects__tech_stack">
                Tech stack:
                <ul class="projects__stack">
                    <li class="projects__tech">
                        <img src="./images/html.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/css.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/js.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/react.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/redux.svg" alt="">
                    <li class="projects__tech">
                        <img src="./images/nodejs.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/mongodb.svg" alt="">
                    </li>
                    <li class="projects__tech">
                        <img src="./images/postman.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <p class="projects__descr">
            Our application is your faithful assistant in managing time and organizing events. We provide convenient authorization via electronic record or Google for security and convenient access. Adding, editing and deleting events is easy and fast. Get detailed statistics about tasks to track progress and improve productivity.
        </p>
    </div>
    <!-- <div class="project__content">
        <h2>GooseTrack</h2>
        <div class="slider" id="slider1">
            <img class='slider-img active' src="./images/comics.jpg" />
            <img class='slider-img' src="./images/avatar.jpg" />
            <img class='slider-img' src="./images/characters.jpg" />
    
            <div>
                <img style='opacity: 1; height: 20px;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
            </div>
    
            <div>
                <img style='opacity: 1; height: 20px;' class="next controlls slider-next" src="./images/right.png" alt="right">
            </div>
        </div>
        <div class="projects__descr">
                <ul>Description:
                    <li>Our application is your reliable assistant in managing time and organizing events.</li>
                    <li>Authorization - by providing convenient user authorization through an electronic record or Google, we guarantee the security of your information and convenient access to functions.</li>
                    <li>Adding events is easy. Just enter a name, date, time and description and your event will be added to the calendar.</li>
                    <li>Editing events is not a problem. You can change, update or even delete events as needed, providing flexibility and precision in managing your schedule.</li>
                    <li>Statistics are our strong point. We provide detailed statistics about your tasks, divided by statuses "To-Do", "In-Progress" and "Done". This information helps you track your progress both for the entire month and for each individual day, allowing you to improve your productivity and time management efficiency.</li>
                </ul>
            </p>
        </div>
    </div> -->

    <!-- <h2>Bookshelf</h2>
    <div class="slider" id="slider2">
        <img class='slider-img active' src="./images/avatar.jpg" />
        <img class='slider-img' src="./images/avatar.jpg" />
        <img class='slider-img' src="./images/avatar.jpg" />

        <div>
            <img style='opacity: 1; height: 20px;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
        </div>

        <div>
            <img style='opacity: 1; height: 20px;' class="next controlls slider-next" src="./images/right.png" alt="right">
        </div>
    </div>
    <h2>Marvel</h2>
    <div class="slider" id="slider3">
        <img class='slider-img active' src="./images/avatar.jpg" />
        <img class='slider-img' src="./images/avatar.jpg" />
        <img class='slider-img' src="./images/avatar.jpg" />

        <div>
            <img style='opacity: 1; height: 20px;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
        </div>

        <div>
            <img style='opacity: 1; height: 20px;' class="next controlls slider-next" src="./images/right.png" alt="right">
        </div>
    </div>
    <h2>Mimino</h2>
    <div class="slider" id="slider4">
        <img class='slider-img active' src="./images/avatar.jpg" />
        <img class='slider-img' src="./images/avatar.jpg" />
        <img class='slider-img' src="./images/avatar.jpg" />

        <div>
            <img style='opacity: 1; height: 20px;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
        </div>

        <div>
            <img style='opacity: 1; height: 20px;' class="next controlls slider-next" src="./images/right.png" alt="right">
        </div>
    </div>
    <h2>Webstudio</h2>
    <div class="slider" id="slider5">
        <img class='slider-img active' src="./images/avatar.jpg" />
        <img class='slider-img' src="./images/avatar.jpg" />
        <img class='slider-img' src="./images/avatar.jpg" />

        <div>
            <img style='opacity: 1; height: 20px;' class="prev controlls slider-prev" src="./images/left.png" alt="left">
        </div>

        <div>
            <img style='opacity: 1; height: 20px;' class="next controlls slider-next" src="./images/right.png" alt="right">
        </div>
    </div> -->
</section>