<section class="skills" id="skills">
    <h1 class="skills__header">My skills</h1>
    <ul class="skills__list">
        <li class="skills__item">HTML5</li>
        <li class="skills__item">CSS</li>
        <li class="skills__item">JavaScript</li>
        <li class="skills__item">TypeScript</li>
        <li class="skills__item">React</li>
        <li class="skills__item">Redux</li>
        <li class="skills__item">Redux Toolkit</li>
        <li class="skills__item">Node.js</li>
        <li class="skills__item">MongoDB</li>
        <li class="skills__item">Mongoose</li>
        <li class="skills__item">Styled Components</li>
        <li class="skills__item">CSS Modules</li>
        <li class="skills__item">Websockets</li>
        <li class="skills__item">Jest</li>
        <li class="skills__item">JWT</li>
        <li class="skills__item">Docker</li>
        <li class="skills__item">Swagger</li>
        <li class="skills__item">Webpack</li>
        <li class="skills__item">Parcel</li>
    </ul>
</section>